<div>
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Length</th>
			<th>Rating</th>
			<th></th>
		</tr>
		<tr ng-repeat="movie in vm.movies">
			<td>{{movie.title}}</td>
			<td>{{movie.length}}</td>
			<td>
				<movie-rating value="movie.rating">
					<span class="glyphicon glyphicon-star"></span>
				</movie-rating>
			</td>
			<td>
				<div class="btn-group">
					<div class="btn btn-default" ng-click="vm.upRating(movie)">
						<span class="glyphicon glyphicon-plus"></span>
					</div>
					<div class="btn btn-default" ng-click="vm.downRating(movie)">
						<span class="glyphicon glyphicon-minus"></span>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
